/* Customize Login Screen */
body.login .button-primary {
  background-color: darkorange;
}

body.login .button-primary:hover,
body.login .button-primary:active,
body.login .button-primary:focus {
  background-color: beige;
  
}

body.login {
  background-color: lightgoldenrodyellow;
}

.login h1 a {
  color: darkorange;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}